body{
    text-align: center;
    background-color: rgb(191, 161, 219);;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h1, h2{
    margin-top: -20px;
    font-size: 3rem;
    color: rgb(95, 40, 146);
}

h2{
    font-size: 2.5rem;
}

embed{
    width: 100%;
    display: block;
    z-index: 1;
}

#board{
    height: 540px;
    width: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url(/whack-a-mole/soil.png);
    background-size: cover;
    border: 10px solid white;
    border-radius: 25px;

}

#board div{
    width: 180px;
    height: 180px;
    background-image: url(/whack-a-mole/pipe.png);
    background-size: cover;
}

#board div img {
    /* all img tags inside the tile div tags */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#play-again{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    color: white;    
    background-color: rgb(95, 40, 146);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px auto;
}

#play-again:hover{
    padding: 10px 40px;
    background-color: #08D9D6;
    color: #000;
}